@charset "UTF-8";
/* Od Bootstrapa. */
.element:before, .element-akcije:before, .form-actions:before, .element:after, .element-akcije:after, .form-actions:after {
  content: " ";
  display: table; }

.element:after, .element-akcije:after, .form-actions:after {
  clear: both; }

.cke_editable.cke_editable_inline {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  background-color: white; }
  .has-success .cke_editable.cke_editable_inline {
    border-color: #3c763d; }
  .has-warning .cke_editable.cke_editable_inline {
    border-color: #8a6d3b; }
  .has-error .cke_editable.cke_editable_inline {
    border-color: #a94442; }

.cke_editable.cke_editable_inline.cke_focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .has-success .cke_editable.cke_editable_inline.cke_focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168; }
  .has-warning .cke_editable.cke_editable_inline.cke_focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b; }
  .has-error .cke_editable.cke_editable_inline.cke_focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483; }

.cke_editable.cke_editable_inline[contenteditable=false] {
  background-color: #eee;
  opacity: 1;
  cursor: not-allowed; }

/* PISAVE ------------------------------------------------------------------ */
@font-face {
  font-family: KlavikaMedium;
  src: url("../fonts/KlavikaWebBasicMedium.eot?v=1.0.0");
  src: url("../fonts/KlavikaWebBasicMedium.woff?v=1.0.0");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: KlavikaRegular;
  src: url("../fonts/klavika-regular-webfont.eot");
  src: url("../fonts/klavika-regular-webfont.woff2");
  font-weight: normal;
  font-style: normal; }

/* LAYOUT ------------------------------------------------------------------ */

footer {
  margin-top: 20px;
  font-size: 15px;
  font-family: KlavikaRegular, Verdana;
  color: #fff;
  background-color: #333333;
  padding: 10px 20px 20px 20px;
}

footer img {
  margin-top: 25px;
}

footer .container .row {
  padding-top: 15px;
}
@media (max-width: 768px) {
  footer .container .row {
    padding-top: 0px;
  }

  footer img {
     margin-top: 5px;
  }

  .fri-info {
    margin-top: 20px;
  }

  .social-info {
    margin-top: 15px;
  }
}

footer a, footer a:hover {
  color: #fff;
}

footer .pure-menu-item {
  margin-bottom: 15px;
}

.page-title {
  margin-bottom: 20px; }

/* NAVBAR ------------------------------------------------------------------ */
.navbar-fri {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.93);
  //background-color: rgba(238, 46, 43, 1);
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}
  .navbar-fri .navbar-brand {
    font-family: KlavikaRegular, Verdana;
    color: #9d9fa2;
    font-size: 20px;
    height: 100px; }
    .navbar-fri .navbar-brand:hover, .navbar-fri .navbar-brand:focus {
      color: #e12a26;
      background-color: transparent; }
    .navbar-fri .navbar-brand img {
      height: 90%; }
  @media (min-width: 768px) {
    .navbar-fri .navbar-nav > li {
      height: 65px; }
      .navbar-fri .navbar-nav > li:before {
        /* Strut element, da vertical-align deluje. */
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: bottom; } }
  .navbar-fri .navbar-nav > li > a {
    font-family: KlavikaMedium, Verdana;
    text-transform: uppercase;
    color: #333;
/*    color: whitesmoke;*/
    font-size: 18px; }
    @media (min-width: 768px) {
      .navbar-fri .navbar-nav > li > a {
        display: inline-block;
        vertical-align: bottom; } }
    .navbar-fri .navbar-nav > li > a:hover, .navbar-fri .navbar-nav > li > a:focus {
      color: #e12a26;
      background-color: transparent; }
  .navbar-fri .navbar-nav > .active > a, .navbar-fri .navbar-nav > .active > a:hover, .navbar-fri .navbar-nav > .active > a:focus {
    color: #e12a26;
    background-color: #f1f1f1; }

    .navbar-fri .navbar-toggle .icon-bar {
      background-color: #333333; }
    .navbar-fri .navbar-toggle {
      margin-top: 20px;
    }

/* elementi ------------------------------------------------------------------ */
.element {
  padding: 10px;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #333;
  min-height: 224px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  @media (max-width: 768px) {
    .element {
      height: auto; } }
  .element .element-podatki {
    display: inline-block;
    float: right;
    height: 100%;
    width: 100%;
    overflow: hidden; }
  .element .element-podatki .element-header {
    background-color: #333;
  }
  .element .element-podatki .element-header .element-title {
    color: #fff;
    padding: 10px;
    display: block;
    margin-bottom: 1rem;
    font-size: 1.6em;
    font-family: KlavikaMedium, Verdana; }

.element.element-poudarjen {
  height: 265px; }
  @media (max-width: 768px) {
    .element.element-poudarjen {
      height: auto; } }
  .element.element-poudarjen:hover {
    border: 1px solid #e12a26;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f7c4c3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f7c4c3; }
  .element.element-poudarjen .element-title {
    color: #e12a26; }
  .element.element-poudarjen .element-logotip {
    display: inline-block;
    width: 20%;
    float: left;
    height: 100%;
    min-height: 190px;
    overflow: hidden; }
  .element.element-poudarjen .element-logotip .element-podjetje-naziv {
    text-align: center;
    font-weight: bold;
    display: block;
    margin-top: 5rem;
    font-size: 1.2em; }
  .element.element-poudarjen .element-podatki {
    width: 80%;
    padding-left: 20px; }
  .element.element-poudarjen .label-fri {
    background-color: #e12a26; }

.element + .element,
.element-akcije + .element {
  margin-top: 2rem; }

.element-akcije {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 10px; }

.podrobnosti {
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #333;
  padding: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

/* TABS -------------------------------------------------------------------- */
.nav-fri {
  border-bottom: 4px solid #545454; }
  .nav-fri > li {
    float: left; }
    .nav-fri > li > a {
      margin-right: 4px;
      margin-bottom: -4px;
      border-bottom: 4px solid #545454;
      color: #333;
      /*background-color: $tab-background;*/
      padding: 16px 20px 12px 20px; }
      .nav-fri > li > a:hover, .nav-fri > li > a:focus {
        color: #333;
        background-color: #f1f1f1;
        /*border-bottom-color: $tab-active-background;*/ }
    .nav-fri > li.active > a, .nav-fri > li.active > a:hover, .nav-fri > li.active > a:focus {
      color: #333;
      cursor: default;
      background-color: #f1f1f1;
      border-bottom-color: #e12a26; }
    .nav-fri > li.active > a .badge {
      background-color: #e12a26; }

/* PANEL, LOGIN ------------------------------------------------------------ */
.panel-fri, .panel-login {
  border: none; }
  .panel-fri > .panel-heading, .panel-login > .panel-heading {
    color: white;
    background-color: #333;
    border-bottom: 4px solid #e12a26;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .panel-fri > .panel-body, .panel-login > .panel-body {
    border: 1px solid #ddd;
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }

.panel-login {
  margin-top: 20px; }
  @media (min-width: 768px) {
    .panel-login {
      width: 600px;
      margin: 30px auto; } }
  .panel-login > .panel-heading {
    padding: 15px 20px; }
    .panel-login > .panel-heading > .panel-title {
      font-size: 20px; }

/* LABEL ------------------------------------------------------------------- */
.label-fri {
  background-color: #545454; }

.label-fri-poudarjen {
  background-color: #e12a26; }

/* DEFINITION LIST --------------------------------------------------------- */
.dl-fri {
  margin: 0; }
  .dl-fri dt {
    font-weight: normal;
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-fri dd {
    margin-left: 180px; }
  @media (max-width: 768px) {
    .dl-fri {
      clear: both; }
      .dl-fri .dt-text {
        display: none; }
      .dl-fri dt, .dl-fri dd {
        display: inline; }
      .dl-fri dt {
        float: none; }
      .dl-fri dd {
        margin-left: 0; }
      .dl-fri dd:after {
        content: '';
        display: block; } }

/* RADIO BUTTONS ----------------------------------------------------------- */
.btn-fri-radio {
  width: 140px;
  color: #e12a26;
  background-color: #fff;
  border-color: #e12a26;
  font-weight: bold; }
  .btn-fri-radio:hover, .btn-fri-radio:focus {
    color: #e12a26;
    background-color: #f1f1f1; }
  .btn-fri-radio.active, .btn-fri-radio.active:hover, .btn-fri-radio.active:focus {
    color: #fff;
    background-color: #e12a26; }
    .btn-fri-radio.active .stevilo-dni, .btn-fri-radio.active:hover .stevilo-dni, .btn-fri-radio.active:focus .stevilo-dni {
      color: #fff; }
    .btn-fri-radio.active .prejsnja-fri-radio, .btn-fri-radio.active:hover .prejsnja-fri-radio, .btn-fri-radio.active:focus .prejsnja-fri-radio {
      color: #f1f1f1; }
  .btn-fri-radio input[type="radio"] {
    display: none; }
  .btn-fri-radio .stevilo-dni {
    color: #333;
    display: block; }
  .btn-fri-radio .trenutna-fri-radio {
    font-size: 1.4em; }
  .btn-fri-radio .prejsnja-fri-radio {
    color: #545454;
    text-decoration: line-through; }

/* WELL -------------------------------------------------------------------- */
.well-fri {
  border-color: #f7c4c3;
  background-color: #fdf0f0;
  color: #e12a26; }

/* CKEDITOR ---------------------------------------------------------------- */
.cke_editable.cke_editable_inline {
  min-height: 100px;
  /* TODO: Mogoče je treba dodati to še k .cke_focus. */ }
  .cke_editable.cke_editable_inline pre {
    white-space: pre-wrap;
    -ms-word-wrap: break-word;
    word-wrap: break-word; }

/* HELPERJI ---------------------------------------------------------------- */
.inline-block {
  display: inline-block !important; }

.text-strong {
  font-weight: bold; }

.text-striketrough {
  text-decoration: line-through; }

.indent-tiny {
  margin-left: 1rem !important; }

.indent-small {
  margin-left: 2rem !important; }

.indent-medium {
  margin-left: 3rem !important; }

.indent-large {
  margin-left: 5rem !important; }

.indent-right-tiny {
  margin-right: 1rem !important; }

.indent-right-small {
  margin-right: 2rem !important; }

.indent-right-medium {
  margin-right: 3rem !important; }

.indent-right-large {
  margin-right: 5rem !important; }

.skip-tiny {
  margin-top: 1rem !important; }

.skip-small {
  margin-top: 2rem !important; }

.skip-large {
  margin-top: 5rem !important; }

.skip-after-tiny {
  margin-bottom: 1rem !important; }

.skip-after-small {
  margin-bottom: 2rem !important; }

.skip-after-medium {
  margin-bottom: 3rem !important; }

.skip-after-large {
  margin-bottom: 5rem !important; }

/* BOOTSTRAP OVERRIDES ----------------------------------------------------- */
h3, h4, legend {
  font-family: Verdana;
}

h1, h2 {
  font-family: KlavikaRegular, Verdana;
}

.description {
  font-family: Verdana;
}

.btn,
.panel,
.form-control,
.input-group-addon,
.select2-container--bootstrap.select2-container--bootstrap .select2-selection {
  border-radius: 2px; }

.badge {
  color: white;
  background-color: #545454; }

.dl-horizontal dt {
  white-space: normal; }

/* OSTALO ------------------------------------------------------------------ */
img.logotip {
  width: 224px;
  max-width: 100%;
  max-height: 178px; }

div.logotip {
  width: 100%;
  height: 100%;
  min-height: 100px; }

.element-thumbnail {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px; }

.fa.fa-fri {
  color: #e12a26; }

.form-actions {
  margin-top: 20px; }

.col-center {
  float: none;
  margin: 0 auto; }

input[type="file"] {
  display: none; }

/* COVER IMAGE ------------------------------------------------------------- */

.cover {
  max-width: 300%;
  width: 100%;
}

.notification {
  border-top: 10px white solid;
  font-size: 27px;
  color: #333;
}

.notification .container ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.notification .container ul li {
	font-size: 27px !important;
	color:#333333;
	font-weight:normal !important;
  background-image: url("../img/bullet-heading.png") !important;
  background-repeat: no-repeat !important;
  background-position: 0px 10px !important;
  padding-left: 26px !important;
  line-height: 1.2em !important;
}

.element-projekt {
  padding: 0px;
  text-align: center;
}

.element-projekt .element-title {
  border-bottom: 4px #e12a26 solid;
}

.element-datum-dan, .element-datum-mesec, .element-datum-leto, .element-datum-rsvp {
  position: absolute;
  text-align: center;
  width: 15%;
  font-size: 20px;
  color: #C4161C;
  max-width: 240px;
}

.element-datum-mesec {
  margin-top: 15px;
}

.element-datum-dan {
  margin-top: 30px;
  font-size: 70px;
}

.element-datum-leto {
  margin-top: 120px;
}

.element-datum-rsvp, .element-datum-rsvp > a {
  margin-top: 155px;
  color: whitesmoke;
  background-color: #C4161C;
}

 @media (max-width: 460px) {
    .element-datum-dan {
      font-size: 50px;
    }
    .element-datum-dan, .element-datum-mesec, .element-datum-leto, .element-datum-rsvp {
      width: 68px;
    }
    .element-datum-rsvp {
      font-size: 18px;
    }
    .element-datum-leto {
      margin-top: 95px;
    }
 }

.element .element-podatki h1 {
  color: #e12a26;
}

.language-selection {
  text-align: right;
  margin-right: 15px;
  margin-top: 25px;
}

.language-selection a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  font-family: KlavikaMedium, Verdana;
}

.language-selection > a:hover, .language-selection > a:focus {
      color: #C4161C;
      background-color: transparent; }

.element-box {
  padding-top: 15px;
}

.description {
  font-size: 16px;
}

.homepage-joinus {
  color: #333;
}

.homepage-joinus:hover {
  color: #e12a26;
}
