{{ partial "header.html" . }}

<section>
  <img src="/img/cover2.jpg" alt="" class="cover">
</section>

<section id="notifications-container" class="notification">
    <div class="container">
        <h2>{{ .Site.Params.subtitle }}</h2>
    </div>
</section>

<main class="container">
  {{ range .Paginator.Pages }}
    {{ if eq .Type "post" }}
      {{ .Render "summary"}}
    {{ end }}
  {{ end }}

  <!-- {{ partial "pagination.html" . }} -->
</main>

{{ partial "footer.html" . }}

</body>
</html>
