<div class="element element-poudarjen">
    <div class="element-datum">
        <span class="element-datum-dan">{{ .Date.Format "2" }}</span>
        <span class="element-datum-mesec">{{ .Date.Format "Jan" }}</span>
        <span class="element-datum-leto">{{ .Date.Format "2006"}}</span>
        {{ if isset .Params "linkrsvp" }}
            <span class="element-datum-rsvp">
              <a href={{ printf "%s" $.Params.linkrsvp }}>Prijava</a>
            </span>
        {{ end }}
    </div>

    <div class="element-podatki">
        <div class="element-header">
            <a href="{{ .Permalink }}"><span class="element-title">{{ .Title }}</span></a>
        </div>

        <div class="element-body">
            <p>{{ .Summary }}</p>
        </div>
    </div>
</div>
