{{ partial "header.html" . }}

<section>
  <img src="/img/cover3.jpg" alt="" class="cover">
</section>

<section id="notifications-container" class="notification">
    <div class="container">
        <ul>
            <li>
                <h2>{{ .Title }}</h2>
            </li>
        </ul>
        <p class="description">{{ .Description }}</p>
    </div>
</section>

<main class="container">
    <div class="skip-medium">
        <div class="skip-small">
            <div class="element">
                <div class="element-podatki">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</main>

{{ partial "footer.html" . }}
