</div>
</div>

<footer>
    <div class="container">
        <div class="row">
                <div class="col-md-4 col-sm-6">
                    <img src="/img/fri.svg" alt="" width="250px">
                </div>
                <div class="col-md-4 col-sm-6">
                    <br>
                    UNIVERZA V LJUBLJANI <br>
                    Fakulteta za računalništvo in informatiko <br>
                    Večna pot 113, 1000 Ljubljana <br>
                    Garaža UL FRI <br>
                    Študentski tehnološki pospeševalnik <br>
                    <a href="mailto:garaza@fri.uni-lj.si"><i class="fa fa-envelope" aria-hidden="true"></i> garaza@fri.uni-lj.si</a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <br>
                    <br>
                    {{ partial "social.html" . }}
                </div>
            </div>
    </div>
</footer>

</body>
</html>
