</div>
</div>

<footer>
    <div class="container">
        <div class="row">
                <div class="col-md-4 col-sm-6">
                    <img src="/img/fri.svg" alt="" width="250px">
                </div>
                <div class="col-md-4 col-sm-6">
                    <br>
                    Garaža FRI <br>
                    Študentski tehnološki pospeševalnik <br>
                    Večna pot 113 <br>
                    1000 Ljubljana <br>
                    <a href="mailto:garaza@fri.uni-lj.si">garaza@fri.uni-lj.si</a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <br>
                    {{ partial "social.html" . }}
                </div>
            </div>
    </div>
</footer>

</body>
</html>
