</div>
</div>

<footer>
    <div class="container">
        <div class="row">
                <div class="col-md-4 col-sm-6">
                    <img src="/img/fri.png" alt="" width="250px">
                </div>
                <div class="col-md-4 col-sm-6">
                    <p>UNIVERZA V LJUBLJANI</p>
                    <p>Fakulteta za računalništvo in informatiko</p>
                    <p>Večna pot 113, 1000 Ljubljana</p>
                    <p>Garaža UL FRI</p>
                    <p>Študentski tehnološki pospeševalnik</p>
                    <a href="mailto:garaza@fri.uni-lj.si"><i class="fa fa-envelope" aria-hidden="true"></i> garaza@fri.uni-lj.si</a>
                </div>
                <div class="col-md-4 col-sm-6">
                    {{ partial "social.html" . }}
                </div>
            </div>
    </div>
</footer>

</body>
</html>
