{{ partial "header.html" . }}

<section>
    <img src="/img/cover1.jpg" alt="" class="cover">
</section>

<section id="notifications-container" class="notification">
    <div class="container">
        <ul>
            <li>
                <h2>Pogosta vprašanja (FAQ)</h2>
            </li>
        </ul>
    </div>
</section>

<!-- Bootstrap FAQ - START -->
<div class="container">
    <br />

    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        {{ i18n "faq_top_notice" . }}
    </div>

    <div class="panel-group" id="accordion">

        {{ range .Data.Pages.GroupByParam "faqcategory" }}
        <div class="faqHeader">{{ .Key }}</div>
        {{ range .Pages }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse{{ .UniqueID }}">{{ .Title }}</a>
                </h4>
            </div>
            <div id="collapse{{ .UniqueID }}" class="panel-collapse collapse">
                <div class="panel-body">
                    {{ .Content }}
                </div>
            </div>
        </div>
        {{ end }} {{ end }}
    </div>
</div>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #C4161C;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>

<!-- Bootstrap FAQ - END -->

{{ partial "footer.html" . }}
